<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Contatti</h1>
    <p>Per informazioni potete rivolgervi ad uno dei coordinatori del gruppo.
    </p>
</div>

<!-- Featurette -->

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Matteotti Christina</h2>  <span class="text-muted">coordinatrice</span>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>


<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Pedot Nicola</h2> <span class="text-muted"> coordinatore</span>
        <p class="lead">nicola.pedot [at] gmail.com</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user_np.gif" alt="Nicola Pedot Image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Tasso Riccardo</h2> <span class="text-muted"> coordinatore</span>
        <p class="lead">riccardo.tasso [at] gmail.com</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder Image">
    </div>
</div>