<div class="jumbotron">
    <h1>Mailing List</h1>
    <ul><li>La mailing list del gruppo è il punto di contatto sempre aperto. Il nome della lista nasce dall'idea di fondere la mailing list dei gruppi utenti Java di Bolzano e Trento, e di comprendere
            un area più grande. Quindi anche domande in tedesco sono beneaccette. </li>
        <li>Domande di ogni livello dai fondamentali a quelle molto specializzate sono gradite.</li>
        <li> Non è garatinta la risposta completa e corretta, ma è incredibile quanti siano pronti a darti una mano.</li>
        <li>I temi devono riguardare Java o tecnologie di uso comune per sviluppatori Java.</li>
        <li> La lista è soggetta a moderazione e non è tollerato spam commerciale e linguaggio offensivo.</li>
        <li> Sono ammesse offerte di lavoro, disponibilità freelance, presentazione di progetti privati.</li>
    </ul>
    <p class="lead"><b>Iscrizione: se possedete un account Google potete ricercare il gruppo jugtaa e cliccare sul pulsante "Unisciti al gruppo per pubblicare post" in alternativa potete scrivere ad uno dei moderatori.</b></p>
    <p class="lead">Moderatori: Montesin Davide (d [at] vide.bz), Pedot Nicola (nicola.pedot [at] gmail.com)</p>
    <p><a class="btn btn-lg btn-success" href="https://groups.google.com/forum/?fromgroups#!forum/jugtaa" role="button">Iscriviti alla Mailing List</a></p>

</div>