 <!-- Jumbotron -->
<div class="jumbotron">
    <h1>Utenti</h1>
    <p>L'iscrizione al gruppo non ha un atto formale di iscrizione, non è un'associazione, non ha un bilancio, non ha una cassa. Il JUG è fatto di sole persone che condividono le proprie capacità nel tempo disponibile.   Se volete mostrare al mondo che appoggiate il gruppo aggiungete il vostro nome a questa lista. E' possibile aggiungere la propria fotografia, una breve descrizione oppure un link ad un proprio sito esterno. L'ordine di apparizione è legato all'ordinamento alfabetico del nome.  Gli utenti onorari sono tutti quelli che contribuiscono fattivamente coordinando oppure hanno fatto da relatore ad almeno un'incontro.
    </p>
    <p class="lead">Scrivete per aggiungere o rimuovere il vostro nome a: nicola.pedot [at] gmail.com</p>
</div>

<!-- Featurette -->

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Attocchi Mirco</h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Benfante Lucio</h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Ceccato Mariano</h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Dessì Massimiliano </h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Lattisi Tiziano</h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>


<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Leach John</h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>


<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Lorenzini Michele</h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Mair Chris</h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>


<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Matteotti Christina</h2>  <span class="text-muted">coordinatrice</span>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Montesin Davide</h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Moser Marco</h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Napolitano Maurizio </h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Nardelli Luca</h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Passamani Mario</h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>


<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Pedot Nicola</h2> <span class="text-muted"> coordinatore</span>
        <p class="lead">Si... può... fare!!! <a href="http://www.linkedin.com/in/nicolapedot">LinkedIn</a></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user_np.gif" alt="Nicola Pedot Image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Resoli Roberto</h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Rossato Andrea</h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Schwarz Marco</h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>


<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Souza Vitor Estevao Silva </h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Ricci Emiliano</h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>


<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Segalla Nicola </h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Simone Bordet </h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Stevovic Jovan </h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>


<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Tasso Riccardo</h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>


<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Tomasi Cristiano</h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Vagin Alex</h2>  <span class="text-muted">utente onorario</span>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">X Duke</h2>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="img/users/user.gif" alt="Generic placeholder image">
    </div>
</div>